@media (min-width: 1200px) {
    .fixed-margin {
        width: 1280px;        
    }
    
    button.btn.navbar-toggle {
        margin-top: 20px;
    }
    
    /* Generic Page*/
    
    .row.generic .col-sm-4 {
        width: 30% !important;
    }

    .row.generic .col-sm-8 {
        width: 70% !important;
    }          
        
}

@media (min-width: 992px) and (max-width: 1199px) {

    .panel-row-style {
        width: auto !important;
    }
    
    button.btn.navbar-toggle {
        margin-top: 20px;
    }      
    
    /* Generic Page*/
    
    .row.generic .col-sm-4 {
        width: 30% !important;
    }

    .row.generic .col-sm-8 {
        width: 70% !important;
    }       
    
    .small-image img {
        margin-bottom: 20px !important;
    }        

    
}

@media (min-width: 768px) and (max-width: 1199px) {
    
    .row.generic .col-sm-4 {
        width: 30% !important;
    }

    .row.generic .col-sm-8 {
        width: 70% !important;
    }      
    
    .site-navigation-inner {
        padding: 0 40px !important;
    }
    .main-content-area {
        margin: 0 -30px;
        padding: 0 40px !important;
    }
    .rotating-leader {
        display: none;
    }
    
    .panel-row-style-homePage .textwidget p {
        margin-left: 40px;
        font-size: 23px;
        line-height: 45px;
    }    
    
    .footer-widget-area .textwidget {
        padding-left: 25px !important;
    }  
    
    #colophon {
        padding: 0 25px !important;
    }
    
    .panel-row-style {
        width: auto !important;
    }
    
    .panel-row-style-homePage .textwidget {      
        margin-top: 36px;
        padding-top : 50px;     
    }    
    
    .panel-row-style-homePage .textwidget p {
        margin-left: 31px;
        font-size: 27px;
        
    }   
    
    .rotating-leader {
        display: block;
    } 
    
    .panel-row-style-myPages .widget_black-studio-tinymce .textwidget {
        font-family: Proxima Nova Light;
        font-size: 25px;   
    }
    
    .panel-row-style-myPages .widget_black-studio-tinymce .textwidget p {    
        padding-bottom: 40px;
        margin-bottom: 15px;
    }    
    
    .panel-row-style-myPages h3 {
        font-size: 23px;
    }    
    
    .panel-row-style-myPages .widget_text .textwidget {
        font-size: 16px;   
        margin-bottom: 0;
    }
    
    .intro-block {
        padding-bottom: 25px;
        margin-bottom: 30px;
    }    
    
    .intro-block p {
        font-size: 25px;
        line-height: 43px;
    }    
    
    .marginalized {
        margin-bottom: 35px;
    }
    
    .marginalized > h1 {
        font-size: 23px;
    }        
    
    .project-link {
        top: 20px !important;
        font-size: 8px !important;
    }
    
    button.btn.navbar-toggle {
        margin-top: 20px;
    }
    
    .stages-content-area h3 {
        margin-bottom: 50px !important;
    } 
    
    .no-gutter .col-sm-9, .col-sm-3{
       padding: 0 !important;
    }    
    
    .rotating-leader-caption {
        left: 0 !important;
        bottom: calc(100% - 55px) !important;
    }
    
    .rotating-leader-caption h2 {
        padding: 5px 10px !important;
        font-size: 11px !important;
        line-height: 24px;
    }
    
    .main-content-area {
        margin-top: 15px !important;
    }
    
    .home-page-content h3 {
        line-height: 38px !important;
        width: 225px !important;
        margin-bottom: 35px !important;   
        font-size: 11px !important;
        padding-left: 45px !important;
    }
    
    .profile-section p   {
        font-size: 27px !important;
        line-height: 35px !important;   
        padding-top: 40px !important;
        padding-left: 45px !important;
    }
    
    #colophon ul {
        margin-left: 20px !important;
    }
    
    #colophon ul > li {
        margin-right: 20px !important;
    }
    
    .footer-widget-area .textwidget p {
        font-size: 14px !important;
        line-height: 25px;
    }
    
    #footer-area ul > li {
        font-size: 11px !important;
    }
    
    ul#menu-footer-menu {        
        margin-top: 14px !important;            
    }
    
    ul#menu-footer-menu > li {
        margin-bottom: 0 !important;
    }
    
    div#nav_menu-10 {
        margin-top: -10px;
    }
    
    .copyright p,
    #colophon ul > li {
        font-size: 13px !important;
    }
    
    #footer-area .footer-widget-area {
        padding-top: 50px !important;
        padding-bottom: 65px !important;
    }
    
    #logo img {
        max-width: 157px !important;
    }    
    
    /* Generic Page */
    
    .row.generic .col-sm-4 {
        width: 30% !important;
    }

    .row.generic .col-sm-8 {
        width: 70% !important;
    }     
    
    .small-image img {
        margin-bottom: 20px !important;
    }
    
    .page-header {
        margin-top: 25px !important;
    }
    
    .first-text-widget {
        margin-bottom: 30px !important;
        font-size: 16px !important;
    }
    
    h1 {
        font-size: 23px !important;
    }
    
    .row.marginalized.generic {
        margin-bottom: 10px !important;
    }
    
    .second-text-widget {
        margin-bottom: 10px !important;
    }    
    
}

@media (max-width: 767px) {
    .site-navigation-inner {
        padding: 0 16px !important;
    }
    
    .panel-row-style-homePage .textwidget p {
        margin-left: 31px;
        font-size: 20px;
        line-height: 45px;
    }     
    
    .main-content-area {
        margin: 0 -60px;
        padding: 0 40px !important;
    }   
    
    .rotating-leader {
        display: none;
    }    
    
    .panel-row-style-homePage {
        margin-top: -48px;
    }
    
    .footer-widget-area .textwidget {
        padding-left: 0 !important;
    }
    
    .panel-row-style {
        width: auto !important;
    }    
      
    .panel-row-style-myPages .widget_siteorigin-panels-gallery:not(#panel-18-2-0-0) {
        float: left;
        width: 50%;
    }    
   
    .panel-row-style-myPages #gallery-3:before {
        content: '.';
        line-height: 19px;
        color: black;
    }
    
    .footer-widget-area .widget_black_studio_tinymce {
        margin-bottom: 30px;
    }
    
    .panel-row-style-myPages .widget_text .textwidget {
        font-size: 11px;
        line-height: 21px;
        margin-bottom: 0;
    }   
    
    .panel-row-style-myPages .panel-grid-cell {
        margin-bottom: 0 !important;
    }
    
    .panel-row-style-homePage .textwidget {      
        margin-top: 30px;
        padding-top : 30px;     
    }
    
    .panel-row-style-myPages .widget_black-studio-tinymce .textwidget {
        font-family: Proxima Nova Light;
        font-size: 20px;   
    }    
    
    .panel-row-style-myPages .widget_black-studio-tinymce .textwidget p {    
        padding-bottom: 30px;
        margin-bottom: 15px;
    }        
    
    .panel-row-style-myPages h3 {
        font-size: 25px;
    }
         
    .intro-block {
        padding-bottom: 20px;
        margin-bottom: 0;
    }
    
    .intro-block p {
        font-size: 18px;
        line-height: 32px;
    }
    
    .marginalized {
        margin-bottom: 35px;
    }
    
    .marginalized > h1 {
        font-size: 22px;
    }    
   
    /* Reduce padding on the process page  */
    .reduced-padding {
        padding: 0;
    }
    
    .panel-row-style-myTestimonials .widget_black-studio-tinymce > h3  {
        width: 100%
    }  
    
    .panel-row-style-myContact .widget-title,   
    .panel-row-style-myAwards .widget-title {
        font-size: 22px !important;
    }
    
    #colophon {
        padding: 0 15px !important;
    }
    
    #colophon li {
        margin-right: 0 !important; 
    }    
    
    #logo img {
        max-width: 130px !important;
    }
    
    .main-project-slider {
        display: none;
    }
    
    .main-project-slider h1 {
        font-size: 22px;
        margin-left: 25px !important;
    }
    
    .mobile-heading {
        display: block !important;
    }
    
    .mobile-project-link {
        display: none !important;
    }
    
    .stages-content-area h3 {
        margin-bottom: 50px !important;
    }    
    
    .panel-row-style-myAboutUs .widget_text .textwidget {    
        font-size: 11px;
        line-height: 28px;    
    }    
    
    #pgc-18-3-0 {
        display: none;
    }
    
    /* Home page*/
    
    .profile-section  {
        width: 100% !important;
    }
    .profile-section p   {
        font-size: 20px !important;
        line-height: 30px !important;   
        padding-top: 30px !important;
        padding-left: 30px !important;
    }    
    
    .home-page-content h3 {
        line-height: 38px !important;
        width: 50% !important;
        margin-bottom: 35px !important;   
        font-size: 11px !important;
        padding-left: 45px !important;
    }    
    
    .main-content-area {
        margin-top: 0px !important;
    }    
    
    .post-inner-content {
        padding-top: 0 !important;
    }
    
    .navbar-toggle {
        margin-right: 0 !important;
        padding-right: 0 !important;
    }
    
    .footer-widget-area .textwidget p {
        font-size: 13px !important;
        line-height: 25px;
    }    
    
    ul#menu-footer-menu {        
        margin-top: 14px !important; 
        font-size: 11px !important;
    }    
    
    #footer-area .footer-widget-area {
        padding-top: 20px !important;
        padding-bottom: 25px !important;
    }    
    
    div#nav_menu-10 {
        margin-top: -10px;
    }    
    
    ul#menu-footer-menu > li {
        margin-bottom: 0 !important;
    }    
    
    .copyright p,
    #colophon ul > li {
        font-size: 12px !important;
    }    
    
    #colophon ul > li {
        display: block !important;
        height: 40px;
        margin-bottom: 10px;
    }
    
    #colophon ul > li:first-child {
        width: 100%;
    }       
    
    /*Generic page*/
    
    h1 {
        font-size: 22px !important;
    }
    
    .first-text-widget {
        font-size: 13px !important;
        margin-bottom: 45px !important;
    }
    
    .small-image img {
        margin-top: 15px;
        
    }
    
    .marginalized.generic {
        margin-bottom: 10px !important;
    }
    
    .second-text-widget {
        margin-bottom: 10px !important;
    }
    
    .page-header {
        margin-top: 10px !important;
    }
    
    .less-padding-right {
        padding-right: 7px !important;
    }
    
    .less-padding-left {
        padding-left: 7px !important;
    }    
}
