/* Home Page Page Builder rows */
.panel-row-style-homePage {
    overflow: hidden;
    margin: 0 -15px;
}

.panel-row-style-homePage .textwidget {
    margin-top: 50px;
    border-top: 1px solid #ec312c;
    width: 85%;
    padding-top: 50px;
    
}

.panel-row-style-homePage .textwidget p {
    margin-left: 63px;
    font-family: Proxima Nova Light;
    font-size: 50px;
    line-height: 70px;
    
}

.panel-row-style-homePage img {
    height: auto;
    width: 100%;
}

.panel-row-style-homePage h3 {
    font-family: Proxima Nova Bold;
    font-size: 18px;
    display: inline-block;
    line-height: 60px;
    width: 200px;
    background-color: #ec312c;
    color: #fff;
    vertical-align: middle;
    padding-left: 30px;    
}

/* My Pages Page Builder rows */

.panel-row-style-myPages {
    overflow: hidden;
}

.panel-row-style-myPages .widget_siteorigin-panels-gallery:nth-child(2) {
    margin-top: -18px;
}

.panel-row-style-myPages h3 {
    font-family: Proxima Nova Semibold !important;
    font-size: 34px;
    color: #fff;
    font-weight: 600 !important;  
}

.panel-row-style-myPages .widget_black-studio-tinymce .textwidget {
    font-family: Proxima Nova Light;
    font-size: 36px;
    
}
.panel-row-style-myPages .widget_black-studio-tinymce .textwidget p {    
    border-bottom: 1px solid #ec312c;  
    padding-bottom: 105px;
    margin-bottom: 96px;
}

.panel-row-style-myPages .widget_text .textwidget {
    margin-bottom: 42px;
    font-family: Proxima Nova Light;
    font-size: 22px;    
}

.panel-row-style-myPages img {
    max-width: 100%;
    height: auto;
}

.panel-row-style-myPages #gallery-2, #gallery-3 img{
    //float: right;
}

.panel-row-style-myPages {
    width: 1280px;
    margin: 0 auto;
}

/* Testimonials Page Builder rows */

.panel-row-style-myTestimonials {
    width: 1280px;
    margin: 0 auto;
}

.panel-row-style-myTestimonials .widget_text .widget-title {
    font-family: Proxima Nova Semibold;
    font-size: 34px;
    font-weight: 600 !important;
}

.panel-row-style-myTestimonials .widget_text .textwidget:before,
.panel-row-style-myTestimonials .widget_text .textwidget:after {
    content: '\"';    
    font-size: 94px;
    font-family: Proxima Nova Light;
    position: relative;
    line-height: 20px;
    top: 20px;
  
}

.panel-row-style-myTestimonials .widget_black-studio-tinymce > h3{
    display: inline-block;
    line-height: 60px;
    width: 360px;
    background-color: #ec312c;
    color: #fff;
    vertical-align: middle;
    padding-left: 30px;
    font-family: Proxima Nova Regular;
    font-size: 18px;
}

.panel-row-style-myTestimonials .widget_black-studio-tinymce .textwidget p {
    font-family: Proxima Nova Light;
    font-size: 18px;
}

.panel-row-style-myTestimonials h3 {
    color: #fff;  
    margin-bottom: 40px;
}

.panel-row-style-myTestimonials .textwidget {
    padding-left: 0 !important;
    font-family: Proxima Nova Light;
    font-size: 28px;
}



/* Awards & Media Page Builder rows */
.panel-row-style-myAwards [id*="gallery-"] img {
    float: none !important;
    padding: 15px;
    border: 1px solid grey;
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;    
    width: 100%
}

.panel-row-style-myAwards {
    width: 1280px;
    margin: 0 auto;
}

.panel-row-style-myAwards .widget-title {
    font-family: Proxima Nova Semibold;
    font-size: 34px;
}

.panel-row-style-myAwards .panel-grid-cell:first-child .widget_text > h3 {
    color: #fff;  
    margin-bottom: 40px;
}

.panel-row-style-myAwards .panel-grid-cell:nth-of-type(2) .widget_text .widget-title {
    padding-bottom: 45px;
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
    font-size: 22px;
    color: #fff;
    font-family: Proxima Nova Light;    
}

/* Contact Page Builder rows */
.panel-row-style-myContact {
    width: 1280px;
    margin: 0 auto;
}

.panel-row-style-myContact .panel-grid-cell:nth-of-type(1) .widget_text:first-child > h3{
    color: #fff;
    font-family: Proxima Nova Semibold;
    font-size: 36px;
}

.panel-row-style-myContact .panel-grid-cell:nth-of-type(3) .widget_text > h3,
.panel-row-style-myContact .panel-grid-cell:nth-of-type(1) .widget_text:nth-child(2) > h3{
    color: #fff;
    font-family: Proxima Nova Light;
    font-size: 28px;
    font-weight: 300;
    
}


.panel-row-style-myContact .panel-grid-cell:nth-of-type(1) .widget_text:nth-child(2) {
    font-family: Proxima Nova Light;
    font-size: 20px;
    line-height: 42px;    
}

.panel-row-style-myContact .panel-grid-cell:nth-of-type(3) .widget_text > h3{
    padding-bottom: 30px;
    border-bottom: 1px solid #e7302b;
}

/* Homestyles Page Builder rows (homestyles-page.php) */
/* Bootstrap refactor */

.homestyle-tile img {
    max-width: 100%;
    height: auto;

}

.fixed-margin {
    margin: 0 auto !important;
    width: 1280px;
}

.homestyle-tile a {
    display: inline-block;
    width: 100%;
    line-height: 55px;
    background-color: #ec312c;
    color: #fff;
    text-align: center;    
}

.row-margin {
    margin-bottom: 30px;
}

.intro-block {
    border-bottom: 1px solid #ec312c;  
    padding-bottom: 105px;
    margin-bottom: 96px;    
}

.intro-block p {
    font-family: Proxima Nova Light;
    font-size: 36px;
}

.marginalized {
    margin-bottom: 90px;
}

.marginalized h3 {
    font-family: Proxima Nova Semibold !important;
    font-size: 34px;
    color: #fff;
    font-weight: 600 !important;
}

/********************************/



/* Homestyle Projects Page Builder rows (home-style-single.php) */


.panel-row-style-myHomestyleProjects {
    width: 1280px;
    margin: 0 auto;
    
}

.panel-row-style-myHomestyleProjects img {
    height: auto;
    max-width: 100%;
    width: 100%;
}

.panel-row-style-myHomestyleProjects .panel-grid-cell:first-child {
    margin-bottom: 30px;
}

.panel-row-style-myHomestyleProjects a {
    display: inline-block;
    width: 100%;
    line-height: 55px;
    background-color: #ec312c;
    color: #fff;
    text-align: center;
}

.panel-row-style-myHomestyleProjects .panel-grid-cell {
    width: 50%; 
    float: left;
}